<template>
  <ul class="list-group">
      <TodoItem v-for="todo in result" :key="todo.id" :todo="todo"/>
  </ul>
  <li class="list-group-item" v-if="todos.length ===0">
     No hay ToDos 
  </li>
  <TodoFooter v-else/>
  <TodoOption />
</template>

<script>
import { inject, ref, computed, provide } from 'vue'
import TodoItem from './TodoItem'
import TodoFooter from './TodoFooter'
import TodoOption from './TodoOption'
export default {
    components:{
        TodoItem,
        TodoFooter,
        TodoOption
    },
    setup(){
        const todos = inject('todos')

        const opcion = ref('all')

        const result = computed(()=>{
            if(opcion.value ==='all') {
                return todos.value
            }
            if(opcion.value ==='active'){
                return todos.value.filter(item=> item.estado === false);
            } 
            if(opcion.value ==='complete'){
                return todos.value.filter(item=>item.estado ===true);
            } 
            

        })

        provide('opcion',opcion)
        return {todos,result}
    }
}
</script>

<style>

</style>