<template>
  <h1>TodoApp</h1>
  <TodoForm/>
  <TodoList/>
</template>

<script>
import {  provide, ref, watchEffect } from 'vue'
import TodoForm from './TodoForm'
import TodoList from './TodoList'
export default {
    components:{
        TodoForm, TodoList
    },
    setup(){
        const todos =  ref([])
        provide('todos',todos)

        if(localStorage.getItem('todos')){
            todos.value = JSON.parse(localStorage.getItem('todos'))
        }
        watchEffect(()=>{
            
            localStorage.setItem('todos',JSON.stringify(todos.value))
        })
    }
}
</script>

<style>

</style>