<template>
    <div class="card mt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span role="button" @click="filtrar('active')">Activos</span>
            <span role="button" @click="filtrar('all')">Todos</span>
            <span role="button" @click="filtrar('complete')">Completados</span>
      </li>
    </div>
</template>

<script>
import { inject } from 'vue'
export default {
    setup(){
        const opcion = inject('opcion')
        console.log(opcion.value)
        const filtrar = (valor)=>{
            opcion.value = valor;
            
        }
        return {filtrar}
    }
}
</script>

<style>

</style>