<template>
  <div class="container">
    <TodoApp/>
  </div>
  
</template>

<script>
import TodoApp from './components/TodoApp.vue'


export default {
  name: 'App',
  components: {
    TodoApp
    
  }
}
</script>
